<div class="container-fluid ">
    <div class='heading'>
        <%= link_to root_path do %>
        <i class="fas fa-chevron-circle-left"></i>
        <% end %>
        <h1 class='text-center'>All our registered users</h1>
    </div>

    <ol>
        <% @users.each do |user|%>
        <li><%=user.email%><%= link_to "show charity logs", "users/#{user.id}}", class:'btn btn-info btn-sm' %>
        </li>
        <%end%>
    </ol>

</div>

<%= render 'shared/nav'%>