<div class="container-fluid ">
    <div class='heading'>
        <%= link_to root_path do %>
        <i class="fas fa-chevron-circle-left"></i>
        <% end %>
        <h1 class='text-center'>All users who have created a charity</h1>
    </div>

    <ul>
        <% @users.each do |user|%>
        <li class='fdx'><%=user.email%> | Charities created: <%=user.charities_count%><%= link_to "show logs", "users/#{user.id}}", class:'btn btn-danger btn-sm' %>
        </li>
        <%end%>
    </ul>

</div>