<div class='heading'>
    <%= link_to users_path do %>
    <i class="fas fa-chevron-circle-left"></i>
    <% end %>
    <h3 class='text-center'>Charities made by: <br> <%=@user.email%></h3>
</div>
<hr class='my-5'>

<ul class='my_list'>
    <%@charities.each do |char|%>
    <li class='fdx'>Charity with the name: "<%=char.name%>" was created at: <%=char.created_at.to_formatted_s(:long)%></li>

    <%end%>
    </ol>