<div class='heading'>
    <%= link_to users_path do %>
    <i class="fas fa-chevron-circle-left"></i>
    <% end %>
    <h1 class='text-center'>Charities made by: <br> <%=@user.email%></h1>
</div>

<ol class='my_list'>
    <%@charities.each do |char|%>
    <li class='my_list_item'><%=char.name%> created at: <%=char.created_at%></li>

    <%end%>
</ol>