/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");

body {
  background-color: #3778c2;
  font-family: "Pattaya", sans-serif;
}
ul {
  list-style-type: none;
  padding: 0;
}
a:hover {
  background-color: #3778c2 !important;
}
.fas:hover {
  background-color: #3778c2;
}

.my-btn {
  background-color: #5fb523;
  opacity: 0.9;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 17px;
}
// Navbar
.navbar-link {
  background-color: #fff;
  color: #3778c2;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.logout-btn {
  color: red;
  background-color: aqua;
}

.my-hr {
  width: 30%;
  background-color: #5fb523;
  height: 2px;
  border: none;
}

.notice {
  font-size: 20px;
  font-style: italic;
  color: #5fb523;
}

// Home
.home {
  color: #fff;
}

// cards

.heading {
  display: flex;

  align-items: center;

  .fas {
    font-size: 40px;
    color: #5fb523;
    margin-right: 20px;
  }
}

.cards-container {
  color: #434b54;
  .card {
    border: #5fb523 3px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 5px 5px gray;
    .card-header {
      background-color: rgb(25, 102, 202);
      color: #fff;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Verdana, sans-serif;
    }
    .card-body {
      background-color: #fff;
      padding: 10px 0;
      .card-title {
        text-decoration: underline;
        font-style: italic;
        font-size: 16px;
      }
    }
  }
}
.donated {
  color: #5fb523;
  font-size: 12px;
  font-family: arial;
}

.my_list {
  li {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.fdx {
  background-color: azure;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}
